
.jimgMenu {
	position:relative;
	margin: 0px 0px 0px 50px;
	padding: 0px;
	width:500px;
	height:200px;
	overflow: hidden;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 200px;
	position: relative;
	}
	
.jimgMenu ul li {
	width: 95px;
	float: left;
	display: block;
	overflow: hidden;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#fff repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow: hidden;
	height: 200px;
}

.jimgMenu ul li#educacion a {
	background: url(../images/educacion.jpg) repeat scroll 0%;
  
}

.jimgMenu ul li#salud a {
	background: url(../images/salud.jpg) repeat scroll 0%;

}

.jimgMenu ul li#mexico a {
	background: url(../images/mexico.jpg) repeat scroll 0%;
  
}

.jimgMenu ul li#cultura a {
	background: url(../images/cultura.jpg) repeat scroll 0%;

}
.jimgMenu ul li#tecnologia a {
	background: url(../images/tecnologia.jpg) repeat scroll 0%;

}



.clear {
	clear: both;
}
