/* Slidorion Stylesheet */
#slidorion {
	width: 1000px;			/* Set to slidorion width. Is equal to #slider + #accordion width */
	height: 310px;			/* Set to slidorion height. Is equal to #slider and #accordion height */
	padding: 10px;
	background: #ffffff;
	
	
}

#slider {
	width: 500px;			/* Set to slider width */
	height: 310px;			/* Set to slider height */
	position: relative;
	float: left;
	overflow: hidden;		/* Hides the animations */
}

#slider > div {
	position:absolute;
	width:100%;
	height:100%;
}

#accordion {
	width: 500px;			/* Set to accordion width */
	height: 310px;			/* Set to image height */
	background: #fff;
	-webkit-box-shadow: -3px 0px 3px -1px rgba(51,51,51,0.3);
	-moz-box-shadow: -3px 0px 3px -1px rgba(51,51,51,0.3);
	box-shadow: -3px 0px 3px -1px rgba(51,51,51,0.3);
	position: relative;
	z-index:999;
	overflow: hidden;
	float: left;
}

#accordion > .link-header {
	padding: 8px 10px;
	height:20px;
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	text-shadow:0 0 1px rgba(51,51,51,0.3);
	background: #f99f1b;
	background: -moz-linear-gradient(top, #f99f1b 59%, #f4a93d 100%);
	background: -webkit-linear-gradient(top, #f99f1b 59%,#f4a93d 100%);
	background: -o-linear-gradient(top, #f99f1b 59%,#f4a93d 100%);
	background: -ms-linear-gradient(top, #f99f1b 59%,#f4a93d 100%);
	background: linear-gradient(top, #f99f1b 59%,#f4a93d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f4a93d',GradientType=0 );
	border-top: 1px solid #ccc;
}



#accordion > .link-header:hover {
	background: #f4a93d;
	cursor: pointer;
}

#accordion > .link-header.active {
	border-bottom: none;
	background: #10335a !important;
	color: #fff;
}

#accordion > .link-content {
	height: 310px;			/* This height needs to be changed as it depends on the accordion height and number of tabs */
	font-weight: normal;
	font-size: 18px;
	text-align:justify;
	line-height:20px;
	margin: 0;
	padding: 16px;
	border: none;
	background: #ffffff;
	}

