@charset "utf-8";
/* CSS Document */


@media(max-width:640px){
	
/*Inicia Menu*/
#Menu{
	width:100%;
	min-width:75%;
	position:fixed;
	top:2%;
	z-index:9999;
	font-family:cuerpo;
	text-shadow: 2px spx #000;
	font-size:8px;
	background:rgba(255,255,255,0.75);
	}
.buscar{
	width:35%;
	border:rgb(0,0,51) solid 1px;
	border-radius:5px;
	font-family:menu;
	font-size:5px;
	color: #002c54;
		}
.login{
	width:20%;
	font-family:menu;
	position:absolute;
	top:20%;
	right:9%;
	color: #002c54;
		}	
.carrito{
	width:20%;
	font-family:menu;
	position:absolute;
	top:17%;
	right:1.5%;
	font-size:10px;	
	}			
.BotonB{
	font-family:menu;
	width:20%;
	font-size:6px;
	}		
		
	
	.nav > li > a {
	float: left;
	color: #002c54;
	font-size:10px;
	text-decoration: none;
	line-height: 43px;
	padding: 0 8px; 
	font-family:cuerpo;
	top:2%;
}

/*Detalle*/

.coleccion{
	font-family:futuraHeavy;
	font-size:20px;
	text-align:left;
	}	
.sku{
	font-family:futura;
	font-size:10px;
	text-align:left;
	}	
	
.DescLarga{
	width:50%;
	font-family:futura;
	color:rgb(51,51,51);
	font-size:10px;
	width:100%;
	}
.AgregarCarrito {
	width:18%;
    background-color: #10335a;
	color:#fff;
	border:rgb(0,0,0) solid 2px;
	text-align:center;
	font-family: futura;
	font-size:6px;
	position:absolute;
	top:55%;
	right:6%;
	padding:0.2%;
   }
.TablaEsp{
	border:rgb(51,51,51) solid 1px;
	font-family:Futura;
	font-size:8px;
	text-align:center;
	}
.HeaderEsp{
	font-family:FuturaHeavy;
	color:rgb(255,255,255);
	font-size:8px;
	background: #10335a;  
	text-align:center;
}
.Materiales{
	font-size:9px;
	width:50%;
	}	
	}
#miniaturas{
	width:15%;
	position:absolute;
	top:10%;
	left:5%;
		}
.miniaturas{
	border:rgb(0,0,0) solid 1px;
	}		
/*Termina Detalle*/

/*Galeria*/
#ColFiltro{
	width:23%;
	float:left;
		}

#Filtro a{
	display:block;
	text-decoration:none;
	font-family:futura;
	font-size:9px;
	padding:3px 5px;
	list-style-type: none;
}


.contenedor{
	width:60%;
	margin:auto;
	position:absolute;
	top:-20%;
	
	}
.caja{
	width:35%;
	text-align:center;
	margin-bottom:!important 40px;
	font-family:futura;
	font-size:9px;

	}
	/*-----------------------------------------------------------------------------------*/
/*	Inicia pie
/*-----------------------------------------------------------------------------------*/
.Tablapie{
	border-top: solid rgb(0,0,0) 3px;
	background-repeat:round;
	background-position:center;
}
.ColPie{
	width:16.5%;
	height:15%;
	font-family:cuerpo;
	font-size:10px;
	}
.ColImgPost{
	width:6%;
	}	    
.ColTextPost{
	width:10.5%;
	font-family:cuerpo;
	font-size:10px;
	}	
.HeaderPie{
	font-family:cuerpo;
	font-size:10px;
	}	
/*-----------------------------------------------------------------------------------*/
/*	Termina footer
/*-----------------------------------------------------------------------------------*/
	
.caja a{
	text-decoration:none;
	}	
.datos{
	font-family:futura;
	font-size:8px;
	}
.imgProducto{
	width:300%;
	text-align:center;
	}	
.frame{
	width:75%;
	height:800px;
	}			
				
/*Termina Galeria*/

}