@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:Avenir;
	src:url('../Fonts/Avenir.ttf') format("truetype");
		}
@font-face{
		
		font-family:cuerpo;
	src:url('../Fonts/Please write me a song.ttf') format("opentype");
		}	
@font-face{
		font-family:menu;
	src:url('../Fonts/Please write me a song.ttf') format("truetype");
		}			
		
		
@font-face{
		font-family:futura;
	src:url('../Fonts/FuturaStd-Book.otf') format("opentype");
		}	
@font-face{
		font-family:futuraBold;
	src:url('../Fonts/FuturaStd-Bold.otf') format("opentype");
		}	
@font-face{
		font-family:futuraHeavy;
	src:url('../Fonts/FuturaStd-Heavy.otf') format("opentype");
		}					
			
@font-face{
		font-family:futuraMedium;
	src:url('../Fonts/FuturaStd-Medium.otf') format("opentype");
		}				
		
		
		
a { color: #666; text-decoration: none;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}
.Logo{
	width:25%;
	float:left;
	margin-bottom:5px;
	}
.Lineas{
	width:99%;
	}	
/*Inicia Menu*/
#Menu{
	width:100%;
	min-width:75%;
	position:fixed;
	top:2%;
	z-index:9999;
	font-family:cuerpo;
	text-shadow: 2px spx #000;
	font-size:20px;
	background:rgba(255,255,255,0.75);
	te
	}
/*Inicia Buscar*/
#buscador{
	width:40%;
	position:absolute;
	top:15%;
	right:-16.5%;
	z-index:1000;
	}
.buscar{
	width:35%;
	padding:1%;
	border:rgb(0,0,51) solid 1px;
	border-radius:5px;
	font-family:menu;
	color: #002c54;
		}
.login{
	width:20%;
	font-family:menu;
	position:absolute;
	top:20%;
	right:13%;
	color: #002c54;
		}	
.carrito{
	width:20%;
	font-family:menu;
	position:absolute;
	top:20%;
	right:7%;
	}			
.BotonB{
	font-family:menu;
	}		
/*Termina buscar*/	
.nav {
	border-radius: 3px;
	width: 100%;
	margin: 10px auto;
	height: 35px;
	font-family:cuerpo;
	position:absolute;
	left:15%;
}

.nav li { list-style: none;  }
.nav > li { padding: 0; float: left; position: relative; }
.nav > li > a {
	float: left;
	color: #002c54;
	font-size:28px;
	text-decoration: none;
	line-height: 43px;
	padding: 0 20px; 
	font-family:cuerpo;
}
.nav > li:hover > a { background: rgba(0,44,84,0.5) }
.nav > li:first-child > a { border-left: 0; }
.nav > li:last-child > a { border-right: 0; }
.nav > li:hover > div { display: block; }

/* MEGA DROP DOWN */

.nav > li > div {
	position: absolute;
	left: 0;
	top: 43px;
	display: none;
	background: rgba(255,255,255,0.9);
	color:rgb(0,0,0);
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	overflow: hidden;
}
.nav > li > div p { color: #333; }
.nav > li > div.right { right: 0; left: auto }
.container-1, .container-2, .container-3, .container-4 { font-size: 80%; }


/* COLUMNS */
.col1,.col2,.col3,.col4,.col5 { margin: 2px 0; float: left; padding: 0 10px;}




	/* 4 Column */
	.container-4 { width: 400%; }
	.container-4 .col1 { width: 50%; }
	.container-4 .col2 { width: 50% }
	.container-4 .col3 { width: 75% }
	.container-4 .col4 { width: 100% }
	
	/* 4 Column */
	.container-1 { width: 300%; }
	.container-1 .col4 { width: 100%; }




/* HIGHLIGHTS */

.container-4 .highlighted { 
	width: 500px;
	font-family:cuerpo;
	color:rgb(255,255,255);
	margin-left: -10px; 
	padding: 15px; 
	background: rgba(0,44,84,0.5); 
	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #ddd;
}

.container-1 .highlighted { 
	width: 200px;
	font-family:cuerpo;
	color:rgb(255,255,255);
	margin-left: -10px; 
	padding: 15px; 
	background: rgba(0,44,84,0.5); 
	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #ddd;
}



.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*Termina menu*/	
/*slider*/
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider a img { outline: none; border: none; }

.flexslider {
	margin: 0;
	padding: 0;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }



/* Theme Styles */
.flexslider {
	position: relative;
	zoom: 1;
	padding: 10px;
	background: #ffffff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
	box-shadow: 0px 1px 1px rgba(0,0,0, .2);
}

/* Edit it if you want */
.flex-container {
	min-width: 10%;
	max-width: 100%;
}

.flexslider .slides { zoom: 1; }



/* Direction Nav */
.flex-direction-nav a {
	display: block;
	position: absolute;
	margin: -17px 0 0 0;
	width: 35px;
	height: 35px;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	z-index: 9999;
	background: rgba(0,44,84,0.5);
}

.flex-direction-nav a:before {
	display: block;
	position: absolute;
	content: '';
	width: 9px;
	height: 13px;
	top: 11px;
	left: 11px;
	background: url(../img/arrows.png) no-repeat;
}

.flex-direction-nav a:after {
	display: block;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: 35px;
}

.flex-direction-nav .flex-next {
	right: -5px;

	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.flex-direction-nav .flex-prev {
	left: -5px;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }

.flex-direction-nav .flex-next:after {
	right: 0;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #31611e;
}

.flex-direction-nav .flex-prev:after {
	left: 0;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #31611e;
}



/* Control Nav */
.flexslider .flex-control-nav {
	position: absolute;
	width: 100%;
	bottom: -40px;
	text-align: center;
	margin: 0 0 0 -10px;
}

.flex-control-nav li {
	display: inline-block;
	zoom: 1;
}

.flex-control-paging li a {
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	width: 12px;
	height: 12px;
	margin: 0 3px;
	background-color: #002c54 \9;

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
	-moz-box-shadow: inset 0 0 0 2px #b6b6b6;
	box-shadow: inset 0 0 0 2px #b6b6b6;
}

.flex-control-paging li a.flex-active {
	background-color: #82d344;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#002c54), to(#031a51));
	background-image: -webkit-linear-gradient(top, #002c54, #031a51);
	background-image: -moz-linear-gradient(top, #002c54, #031a51);
	background-image: -o-linear-gradient(top, #002c54, #031a51);
	background-image: linear-gradient(to bottom, #002c54, #031a51);

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* Captions */
.flexslider .slides p {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 5px;
	margin: 0;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	color: white;

	background-color: #222222;
	background: rgba(0,0,0, .9);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
/*Termina slider*/
/*categorias*/
#Categorias{
	width:100%;
	height:80%;
	background:#FFF;
	}
.Categorias{
	width:24%;
	height:60.5%;
	float:left;
	margin:.5%;
	margin-top:0%;
	overflow: hidden;
	}	
/*efecto overlay*/
.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  overflow: hidden;
  width:100%;
  height:50%;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 150px;
  height: 150px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
}

#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-6 .img.hover .overlay {
  opacity: 1;
}
#effect-6 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}
/*Termina categorias*/
/*Inicia mapa*/
.mapa{
display:inline-block;
width:33%;
margin:0.5%;	
float:left;
}
/*Termina mapa*/	
/*inicia destacados*/
#Destacado{
	width:25%;
	border:rgb(0,0,0) solid 1px;
	border-radius:5px;
	font-family:cuerpo;
	font-size:40px;
	text-align:center;
	margin:0.5%;
	padding:1%;
	float:left;
	}


/*Termina destacados*/
/*-----------------------------------------------------------------------------------*/
/*	Inicia pie
/*-----------------------------------------------------------------------------------*/
.Tablapie{
	border-top: solid rgb(0,0,0) 3px;
	background-repeat:round;
	background-position:center;
}
.ColPie{
	width:16.5%;
	height:15%;
	font-family:cuerpo;
	padding:0.5%;
	}
.ColImgPost{
	width:6%;
	}	    
.ColTextPost{
	width:10.5%;
	font-family:cuerpo;
	font-size:18px;
	}	
.HeaderPie{
	font-family:cuerpo;
	font-size:28px;
	}	

/*-----------------------------------------------------------------------------------*/
/*	Termina footer
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Inicia catalogo
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	Termina catalogo
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Inicia galerias de productos
/*-----------------------------------------------------------------------------------*/
.contenedor{
	width:100%;
	margin:auto;
	text-align:center;
	float:right;
	display:block;
	}
#paginador{
	font-size:16px;
	font-family:futuraMedium;
	text-align:center;
	width:40%;
	}
.caja{
	background-color:#f5f7f9;
	float:left;
	width:12%;
	text-align:center;
	margin:15px;
	margin-bottom:!important 40px;
	font-family:futura;
	font-size:20px;
	
	}
.skucaja{
	font-size:14px;}	
.caja a{
	text-decoration:none;
	}	
.datos{
	font-family:futura;
	font-size:12px;
	}			
.imgProducto{
	width:100%;
	}
.frame{
	
	width:85%;
	height:1500px;
	}			


/*----------------------------columna-------------------------------------------------------*/
#ColFiltro{
	width:15%;
	float:left;
		}
#Filtro{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #888;
	-moz-box-shadow:1px 1px 3px #888;
}
#Filtro li{
	border-bottom:1px solid #FFF;
}
#Filtro ul li, #menu li:last-child{border:none}	
#Filtro a{
	display:block;
	text-decoration:none;
	font-family:futura;
	font-size:16px;
	padding:3px 5px;
	list-style-type: none;
}
#Filtro a:hover{
	color:#333;
	-webkit-transition: color 0.2s linear;
}
#Filtro ul a{background-color:#fff;}
#Filtro ul a:hover{
	background-color:#10335a;
	color:#fff;
	text-shadow:none;
	-webkit-transition: color, background-color 0.2s linear;
}
#Filtro ul{
	display:block;
	margin:0;
	padding:0;
	width:130px;
	list-style:none;
	text-decoration:none;
}
#Filtro ul{
	background-color:#6594D1;
	}
#Filtro li ul {
	display:none;
	text-decoration:none;
}		
/*----------------------------columna-------------------------------------------------------*/					
/*-----------------------------------------------------------------------------------*/
/*	Termina galerias de productos
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	Inicia Detalle de productos
/*-----------------------------------------------------------------------------------*/

	
#Producto{
	width:50%;
	/*margin-left:3%;*/
	text-align:center;
	position:absolute;
	top:21%;
	left:5%;
	}
#miniaturas{
	width:15%;
	position:absolute;
	top:10%;
	left:5%;
		}
.miniaturas{
	border-bottom:rgb(0,0,0) solid 2px;
	border-top:rgb(0,0,0) solid 2px;
	text-align:center;
	}
#Descripcion{
	width:30%;
	text-align:right;
	position:absolute;
	top:20%;
	left:60%;
	}
.logoDesc{
	width:40%;
	position:absolute;
	top:0%;
	right:0%;
	}	
.relacionados{
	width:100%;
	border-top:rgb(0,0,0) solid 1px;
	border-bottom:rgb(0,0,0) solid 1px;
	margin:0.5%;
	padding0.51%;
	text-align:left;
	}	
.proporcion{
	float:left;
	font-family:futura;
	}	
.DescLarga{
	width:50%;
	font-family:futura;
	color:rgb(51,51,51);
	font-size:16px;
	width:100%;
	}
.sku{
	font-family:futura;
	font-size:20px;
	text-align:left;
	}	
.coleccion{
	font-family:futuraHeavy;
	font-size:40px;
	text-align:left;
	}	
.AgregarCarrito {
	width:18%;
    background-color: #10335a;
	color:#fff;
	border:rgb(0,0,0) solid 2px;
	text-align:center;
	font-family: futura;
	font-size:25px;
	position:absolute;
	top:55%;
	right:6%;
	padding:1%;
   }
 
   .AgregarCarrito:hover {
      background-color: #fff;
	  color:#333;
   }
   #especificaciones{
	   width:38%;
	   padding:1%;
	   position:absolute;
	   right:3%;
	   top:88%;
	   }
.TablaEsp{
	border:rgb(51,51,51) solid 1px;
	font-family:Futura;
	font-size:14px;
	text-align:center;
	}
.HeaderEsp{
	font-family:FuturaHeavy;
	color:rgb(255,255,255);
	font-size:14px;
	background: #10335a;  
	text-align:center;
}
.Materiales{
	font-size:9px;
	width:50%;
	}
/*----------------------------Termina Precio y detalles-------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Termina Detalle de productos
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	Inicia Donde comprar
/*-----------------------------------------------------------------------------------*/
.FiltroDC{
	width:20%;
	height:100%;
	min-height:500px;
	float:left;
	z-index:100;
	}
#ColFiltroDC{
	width:100%;
	float:left;
		}	
.gmap {
width:100%;
height:100%;
min-height:500px;
float:right;
			}
.gmap_image img {
max-width:100%;
			}
.frameMap{
	position:absolute;
	top:18%;
	width:80%;
	height:502px;
	rigth:35%;
	border:0px;
	}			
/*-----------------------------------------------------------------------------------*/
/*	Termina Donde comprar
/*-----------------------------------------------------------------------------------*/