/* www.mipolaris.com */

.EstiloAZUL {
	color: #3B5998;
	text-align: left;
}
.EstiloROJO {
	color: #FF0000;
}
.TODO {
	width::1280px;
	overflow:scroll
	
	
}
.COMENTARIOS {
	width::500px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
}
.RESULTADO {
	width::1280px;
	padding: 10px;
	text-align:center;
	color: #FF0000;
	margin-bottom: 10px;
	background-color: #FFECEC;
	border: 1px solid #FF0000;
}
.FORMULARIO {
	padding: 10px;
	margin-bottom: 10px;
}
.TITULO{
	color: #FFFFFF;
	background-color: #10335a;
	width: auto;
	margin: auto;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.CASILLAS{
	float:left;
	color: #333333;
	width: auto;
	margin: auto;
	padding: 10px;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 120px;
}
.fondocasillausuario {
	background-color: #F0F0F0;
	border: 1px solid #8A96BD;
	border-color: #8A96BD;
	padding: 4px;
	margin-bottom: 3px;
}
.BOTONcomentarioenviar{
	cursor:pointer;
	background-color: #F0F0F0;
	border: 1px solid #BEC6D6;
	padding: 4px;
	width: 150px;
}
.BOTONcomentarioborrar{
	cursor:pointer;
	background-color: #F2E3E3;
	border: 1px solid #D9B0B0;
	padding: 4px;
	width: 150px;
	border-color: #D9B0B0;
}
.MENU {
	width: 580px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	background-color: #F0F0F0;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.SALIR {
	width: 580px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	background-color: #F0F0F0;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.MENUCOMENTARIOS {
	width: 580px;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	background-color: #F0F0F0;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	text-align: justify;
}
/* www.mipolaris.com */